# ==========================================
# 1. BACKEND (Django & Python)
# ==========================================
# Environnements virtuels
.venv/
venv/
env/
ENV/

# Fichiers sensibles (Mots de passe, clés d'API)
.env

# Fichiers Python compilés et caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Base de données locale (au cas où vous l'utiliseriez par erreur)
*.sqlite3

# ==========================================
# 2. FRONTEND (React & Node)
# ==========================================
# Dépendances (Le dossier le plus lourd, à ne JAMAIS push)
node_modules/

# Dossier de build (production)
/frontend/build/

# Fichiers de log d'erreurs d'npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# 3. SYSTÈME ET ÉDITEURS (Windows, Mac, VS Code)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/